In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
uniq_id_cust= pd.read_csv ('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-lesihina/first_project/olist_customers_dataset.csv')
orders= pd.read_csv ('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-lesihina/first_project/olist_orders_dataset.csv')
items= pd.read_csv ('/mnt/HC_Volume_18315164/home-jupyter/jupyter-a-lesihina/first_project/olist_order_items_dataset.csv')

In [3]:
#Задание 3. По каждому товару определить, в какой день недели товар чаще всего покупается.

In [4]:
#объединим заказы и продукты для определение времени
join_table2= items.merge(orders, how = 'outer', on ='order_id')

In [5]:
# привели к формату даты время подтверждения покупки
join_table2 ['buying_day'] = pd.to_datetime(join_table2 ['order_approved_at'])

In [6]:
# привели к дню недели 
join_table2 ['buying_day'] = join_table2.buying_day.dt.strftime('%A')

In [7]:
# отберем все продажи по всем дням недели,кроме недоступных товаров и неоплаченных
all_sales_items = join_table2\
    .query('order_status !="unavailable" or order_status !="created"')\
    .groupby (['product_id','buying_day'])\
    .agg ({'order_id': 'count'}).rank(ascending=False, method='max')

In [8]:
all_sales_items = all_sales_items.reset_index()

In [12]:
# В этой таблице указаны покупки всех товаров по всем дням недели
all_sales_items

                             product_id buying_day  order_id
0      00066f42aeeb9f3007548bb9d3f33c38     Sunday   61143.0
1      00088930e925c41fd95ebfe695fd2655    Tuesday   61143.0
2      0009406fd7479715e4bef61dd91f2462     Friday   61143.0
3      000b8f95fcb9e0096488278317764d19     Friday   61143.0
4      000b8f95fcb9e0096488278317764d19  Wednesday   61143.0
...                                 ...        ...       ...
61138  fff9553ac224cec9d15d49f5a263411f   Saturday   61143.0
61139  fffdb2d0ec8d6a61f0a0a0db3f25b441     Friday   61143.0
61140  fffdb2d0ec8d6a61f0a0a0db3f25b441   Thursday   61143.0
61141  fffdb2d0ec8d6a61f0a0a0db3f25b441    Tuesday    8606.0
61142  fffe9eeff12fcbd74a2f2b007dde0c58  Wednesday   61143.0

[61143 rows x 3 columns]

In [9]:
# Отберем день недели по каждому товару,гдемауисмальное число покупок
all_sales_items\
    .groupby (['product_id'])\
    .agg ({'order_id': 'max', "buying_day": "max"})

                                  order_id buying_day
product_id
00066f42aeeb9f3007548bb9d3f33c38   61143.0     Sunday
00088930e925c41fd95ebfe695fd2655   61143.0    Tuesday
0009406fd7479715e4bef61dd91f2462   61143.0     Friday
000b8f95fcb9e0096488278317764d19   61143.0  Wednesday
000d9be29b5207b54e86aa1b1ac54872   61143.0    Tuesday
...                                    ...        ...
fff6177642830a9a94a0f2cba5e476d1   61143.0   Saturday
fff81cc3158d2725c0655ab9ba0f712c   61143.0     Monday
fff9553ac224cec9d15d49f5a263411f   61143.0   Saturday
fffdb2d0ec8d6a61f0a0a0db3f25b441   61143.0    Tuesday
fffe9eeff12fcbd74a2f2b007dde0c58   61143.0  Wednesday

[32948 rows x 2 columns]

In [10]:
# Ответ: Выше приведена таблица с данными по частоте покупок для каждго товара (с указанием дня недели)